<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sadasda.Properties.Settings.ИС_тех_контроляConnectionString"
            connectionString="Data Source=EgorLaptop\MSSQLSERVER03;Initial Catalog=ИС_тех_контроля;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>